<% layout('../layouts/blank_layout') %>

<form id='editLocation' role="form" action="/admin/editLocation" method="post" class="col-lg-3 col-lg-push-4">
	
  <div class="form-group">
    <h3>Add New Location</h3>
    <label for="id">Name: </label>
    <input type="" class="form-control" name='name' id="name">
    <label for="id">Division: </label>
    <input type="" class="form-control" name='division' id="division">
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>