<ul class="nav nav-tabs">
  <li class="<%=isActive('devices')%>"><a href="/admin/devices">Devices</a></li>
  <li class="<%=isActive('scheduling')%>"><a href="/admin/scheduling">Scheduling</a></li>
  <li class="<%=isActive('user')%>"><a href="/admin/user">User</a></li>
  <li class="<%=isActive('locations')%>"><a href="/admin/locations">Locations</a></li>
</ul>
