<html ng-app>
<head>
    <title>eSave</title>   
    <!--meta tags-->
    <meta name="keywords" content="eSave">
    <meta name="description" content="energy saving">        
    <!--jquery-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!--angular-->
    <script type="text/javascript" src="/js/angular/angular.min.js"></script>
    <!--main-->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body class="blank_layout">
<!--container-->
<div class="container">
    <!--content-->
    <div class="content"><%- body %></div>

    <!--footer-->
    <% include ../partials/footer %>
</div>
</body>
</html>